In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy.stats import shapiro, kstest, zscore
import statsmodels.api as sm

In [2]:
df_dados = pd.read_csv('./datasets/dados_de_irrigacao.csv')

In [3]:
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Horas de Irrigação        299 non-null    int64
 1   Área Irrigada             299 non-null    int64
 2   Área Irrigada por Ângulo  299 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 7.1 KB

In [5]:
df_dados.head(10)

   Horas de Irrigação  Área Irrigada  Área Irrigada por Ângulo
0                   1            100                 66.666667
1                   2            200                133.333333
2                   3            300                200.000000
3                   4            400                266.666667
4                   5            500                333.333333
5                   6            600                400.000000
6                   7            700                466.666667
7                   8            800                533.333333
8                   9            900                600.000000
9                  10           1000                666.666667

In [6]:
df_dados.describe()

       Horas de Irrigação  Área Irrigada  Área Irrigada por Ângulo
count          299.000000     299.000000                299.000000
mean           150.000000   15000.000000              10000.000000
std             86.458082    8645.808233               5763.872155
min              1.000000     100.000000                 66.666667
25%             75.500000    7550.000000               5033.333333
50%            150.000000   15000.000000              10000.000000
75%            224.500000   22450.000000              14966.666667
max            299.000000   29900.000000              19933.333333